.graphPage {
    background: white;
    position: relative;
}

.logo {
    height: 75px;
    width: 250px;
    position: absolute;
    top: 0px;
    right: 0px;

}

.home {
    height: 50px;
    width: 50px;
    margin-top: 20px;
    margin-right: 20%;
}

.loader {
    position: relative;
    margin-left: 50%;
    margin-top: -200px;

}
.graph {
    position: absolute;
}

.graph-title {
    margin-left: 35%;
}

.graph-year {
    position: absolute;
    margin-left: 85%;
    margin-top: 450px;
}

.export-button {
    position: absolute;
    margin-left: 40%;
    margin-top: 35%;
}

.clear-button {
    position: absolute;
    margin-left: 65%;
    margin-top: 35%;
}

#content {
	display: flex;
	flex: 25% 75%;
}